html, body {
    overflow-x: hidden;
}

input, body, button, textarea{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body { 
    margin: 0;
    background: rgb(49, 54, 74) ;
    outline: 0;
    position: relative;
}

small {
    font-size: x-small;
}

a { 
    white-space: nowrap;
    display: inline;
    clear: none;
    font-size: 1.5vh;
}

a:link {
    color: rgba(224, 217, 235, 0.8);
}

/* visited link */
a:visited {
    color: rgba(224, 217, 235, 0.8);
}

.outer {
    display: table;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
  

.main-container {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    
    
}

.ttt-div {
    border-radius: 2vh;
    margin: 2vh;
    background-color: rgba(0,0,0,0.2);
    padding: 2%;
    display: inline-block;
    width: 40vh;
    height: 40vh;
}

.patterns-div {
    border-radius: 2vh;
    margin: 2vh;
    background-color: rgba(0,0,0,0.2);
    padding: 2%;
    display: inline-block;
    width: 40vh;
    height: 40vh;
}

.head-label {
    color: rgba(224, 217, 235, 0.8);
    font-size: 4vh;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.text-label {
    color: rgba(224, 217, 235, 0.8);
    font-size: 1.5vh;
}
